html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
button.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size:medium;
    background-color: white;
}
div.base {
    background: linear-gradient(white, #3e2e99);
    width: 300px;
    margin: auto;
}
div.mycontainer {
    height: 100%;
    width: 100%;
    overflow: auto;
}
div.mycontainer div {
    padding-top: 70px;
    width: 50%;
    float: left;
    color: snow;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
a.icons-link:link {
    color: white;
}
a.icons-link:hover {
    color: orange;
}
a.icons-link:visited {
    color: yellow;
}
footer {
    text-align: center;
    background-color: #3e2e99;
}